<ul class="nav flex-column" >
    <li class="nav-item">
      <a class="nav-link active" routerLink="/rahione/rahioneHome" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rahione/rahiabout" (click)="onClickMe()">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rahione/rahioneroom">Room rates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rahione/rahioneamenities">Room amanities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rahione/rahionegallery">Images</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rahione/rahionecontact">Contact information</a>
    </li>
  
  </ul>