<div class="hotel-amenities">
  <h4>Hotel facilities</h4>
 <div class="row">
  <div class="column">
  <ul>
    <li>Business Center</li>
    <li>Free Internet Available</li>
    <li>Free Internet Access</li>
    <li>Free Internet In Public Areas</li>
    <li>Fitness Center or Spa</li>
    <li>Accessible</li>
    <li>No Smoking Rooms/Facilities</li>
    <li>Pets Allowed</li>
    <li>Laundry</li>
    <li>Newspapers</li>
    <li>Room Service</li>
  </ul>
</div> 
<div class="column">
  <ul>
    <li>Sauna</li>
    <li>Air Conditioning</li>
    <li>Babysitting/Child Services</li>
    <li>Bar</li>
    <li>Concierge Service</li>
    <li>24-Hour Front Desk</li>
    <li>Dry cleaning</li>
    <li>Internet services</li>
    <li>Soundproof rooms</li>
    <li>Breakfast in the room</li>
    <li>Heating</li>
  </ul>
</div>
<br/>
</div>
<div class="row column">
  <ul>
    <li>Fax/photocopying</li>
    <li>Ticket service</li>
    <li>WiFi</li>
    <li>All Spaces Non-Smoking (Public and Private)</li>
    <li>Baggage Storage</li>
    <li>Facilities for Disabled Guests</li>
    <li>Family Rooms</li>
    <li>Non-smoking Rooms</li>
    <li>Safe</li>
    <li>WiFi available in all areas</li>
    <li>Free WiFi</li>
  </ul>
</div>
</div>