
<footer class="section footer-classic context-dark bg-image" style="background: #a1cc8b;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="" alt="" width="140" height="37" srcset=""></a>
            <p style="color: black;text-align: left">
              <b>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</b></p>
            <!-- Rights-->
            <p class="rights" style="color: black"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Rahi Properties</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4" style="color: black">
          <h5><b>Contacts</b></h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd>Rahi Motel And C ottages -1
              <br/>
              201 Foggy hill road Cabin Aransas Pass TX-78336
            </dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">rahicottages@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>phones:</dt>
            <dd><a href="tel:#">+1 361-226-1197</a> 
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3" style="color: black">
          <h5>Links</h5>
          <ul class="nav-list">
            <li> <a href="https://www.facebook.com/Rahi-Cottages-1-1217863921597714/?ref=br_rs" target="new"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a> </li>
            <li><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                    
          </ul>
        </div>
      </div>
    </div>
    
  </footer>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">