<ul class="nav flex-column" >
  <li class="nav-item">
    <a class="nav-link active" routerLink="/rahitwo/rahitwoHome" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rahitwo/rahiabout">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rahitwo/rahitworoom">Room rates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rahitwo/rahitwoamenities">Room amanities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rahitwo/rahitwogallery">Images</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rahitwo/rahitwocontact">Contact information</a>
  </li>

</ul>