<p>
  Set in Rockport, Rahi Cottages provides accommodations with a kitchen. Free WiFi is featured.
</p>
<p> All units come with a seating area, a flat-screen TV with cable channels and a private bathroom with a hair dryer and bath. An oven and microwave are also offered in the full kitchen, as well as a coffee machine.
</p> 
<p> Port Aransas is 9.3 mi from the lodge, while Corpus Christi is 21 mi away. The nearest airport is Corpus Christi International Airport, 27 mi from the property. 
</p>
<p> We speak your language!
</p>
