<ul class="nav flex-column" >
  <li class="nav-item">
    <a class="nav-link active" routerLink="/admin/dashboard" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/roomerates">Room rates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/amenities">Room amanities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/gallery">Images</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/contact">Contact information</a>
  </li>

</ul>