

<div id="" class="row clearfix">

    <div class="row">

        <div class="section">
            <h1 class="heading1">WELCOME to Rahi motel & cottages</h1>
            <p>Quintessentially Indian in its fabric, Indian Hotels Company Limited is recognized the world over for delivering a unique flavour of hospitality that offers world-class refinement while remaining deeply rooted in its local heritage. With over 100 hotels in 62 locations, We offer guests the refined luxury of heritage, the effortlessly efficient service and amenities and a local experience with the assurance of quality.</p>
        </div>

        <!--Call to Action-->
        <a href="#" class="button">START CREATING TODAY</a>
        <!--End Call to Action-->

    </div>

</div><!--End of Row-->